---
layout: default
header_class: alt

banner:
- image: /images/work-from-cafe.jpg
  title: Start working remotely
  url: "#"
- image: /images/work-at-sea.jpg
  title: Make your life yours again
  url: "#"
- image: /images/laptop-forest.jpg
  title: Can I do my job remotely?
  url: "#"

features:
- icon: fa-pencil
  title: Praesent sed donec
  excerpt: Proin consequat luctus elit, nec blandit tellus ut volutpat magna. mi euismod elementum lectus et consequat etiam lorem etiam sed tempus. Feugiat veroeros lorem ipsum dolor.
- icon: fa-paper-plane
  title: Commodo mollis
  excerpt: Pellentesque, ornare sapien quis, tristique ante. Proin nec facilisis odio. Integer elementum nunc nec leo interdum, non tristique eros laoreet. Integer vitae erat suscipit commodo.
- icon: fa-cloud
  title: Magnis curabitur
  excerpt: Duis vulputate sit amet metus quis facilisis. Sed dapibus neque erat fringilla tincidunt. Nullam sapien et sapien, iaculis ac varius ultrices nec metus. Aenean ultricies magna.

posts:
- image: /images/pic01.jpg
  title: Congue portitor
  excerpt: Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.
  url: "#"
- image: /images/pic02.jpg
  title: Duis nisl euismod
  excerpt: Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.
  url: "#"
- image: /images/pic03.jpg
  title: Elementum auctor
  excerpt: Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.
  url: "#"
- image: /images/pic04.jpg
  title: Urna vel lacinia
  excerpt: Integer vel tincidunt lacus. Nulla augue nunc, eleifend quis leo ac, maximus interdum tellus. Etiam at vestibulum felis, id efficitur risus. Praesent ac nulla ex. Duis elementum.
  url: "#"
- image: /images/pic05.jpg
  title: Neque et suscipit
  excerpt: Libero condimentum, vehicula sem vel, mattis mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi in aliquam est. Aenean dapibus porttitor nulla ultrices venenatis.
  url: "#"
- image: /images/pic06.jpg
  title: Vestibulum placerat
  excerpt: Tristique tellus et ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent mauris risus, pellentesque eu leo non, tincidunt.
  url: "#"
---

{% include layout/banner.html slides=page.banner %}

<!-- One -->
 <section id="one" class="wrapper major-pad">
  <div class="inner">
   <section class="spotlight">
    <div class="content">
     <h2>We made our office jobs remote</h2>
     <p><a href="/who">We are Michael and Adriaan</a> and we converted our office jobs into remote jobs. Do you also want to work from home or a tropical beach? Check if your job can be done remotely via <a href="/quiz">this quiz</a>.</p>
          <footer>
            <ul class="actions">
              <li><a class="button" href="/quiz">Do the quiz</a></li>
            </ul>
          </footer>
        </div>
    <span class="image"><img src="{{ site.baseurl }}/images/pic07.jpg" alt="" /></span>
   </section>
  </div>
 </section>

<!-- Two -->
 <section id="two" class="wrapper content-pad">
  <div class="inner">
   {% include components/features.html features=page.features %}
  </div>
 </section>

<!-- Three -->
 <section id="three" class="wrapper style2">
  <div class="inner">
   <h2>Etiam sed tellus</h2>
   {% include components/posts.html posts=page.posts %}
  </div>
 </section>
