<style>
.feedback {
  margin-left: 5px;
  opacity: 0;
}
.address {
  display: none !important;
}
.required {
  color: #de0303;
}
p.error {
  display: none;
  color: #de0303;
  border: 1px solid #de0303;
  padding: 5px 10px;
}
</style>

<!-- Contact -->
 <section id="contact" class="wrapper split">
  <div class="inner">
   <section>
    <h2>Question? Send us a message</h2>
    <form class="contact" method="post">
     <input type="text" class="address" />
     <p class="error">This is an error</p>
     <div class="row uniform">
      <div class="6u 12u$(large) 6u(medium) 12u$(xsmall)">
       <label for="name">Name <span class="required">*</span></label>
       <input type="text" class="name" id="name" required="required" />
      </div>
      <div class="6u$ 12u$(large) 6u$(medium) 12u$(xsmall)">
       <label for="email">Email <span class="required">*</span></label>
       <input type="email" class="email" id="email" required="required" />
      </div>
      <div class="12u$">
       <label for="message">Message <span class="required">*</span></label>
       <textarea class="message" id="message" rows="5"></textarea>
      </div>
      <div class="12u$">
       <ul class="actions">
        <li><input type="submit" value="Send Message" class="special" required="required" /> <span class="feedback">Thanks, we reply soon if needed!</span></li>
       </ul>
      </div>
     </div>
    </form>
   </section>
   <section>
    <h2>Other ways to reach us</h2>
    <ul class="bulleted-icons">
     <li>
      <span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
      <h3>Email</h3>
      <p><a href="mailto:hello@remotemovement.com">hello@remotemovement.com</a></p>
     </li>
     <li>
      <span class="icon-wrapper"><span class="icon fa-twitter"></span></span>
      <h3>Twitter</h3>
      <p><a href="https://twitter.com/remotemovement">twitter.com/remotemovement</a></p>
     </li>
     <li>
      <span class="icon-wrapper"><span class="icon fa-facebook"></span></span>
      <h3>Facebook</h3>
      <p><a href="https://www.facebook.com/groups/149174492481061">facebook.com/remotemovement</a></p>
     </li>
    </ul>
   </section>
  </div>
 </section>

<!-- Footer -->
 <footer id="footer">
  <div class="inner">
   <p class="copyright">{{ site.title }} {{ site.tagline }}</p>
   <!--<ul class="menu">
    <li><a>Terms<span> of Use</span></a></li>
    <li><a>Privacy<span> Policy</span></a></li>
    <li><a>Legal<span> Information</span></a></li>
   </ul>-->
  </div>
 </footer>

 <script>
   var form = document.querySelector('form.contact');
   function showError(message) {
     var box = form.querySelector('.error');
     if (message) {
       box.innerHTML = message;
       box.style.display = 'block';
     }
     else {
       box.style.display = 'none';
     }
   }
   function done() {
     var thanks = form.querySelector('.feedback');
     showError(null);
     window.setTimeout(function() {
       thanks.style.opacity = 1;
     }, 100);
     window.setTimeout(function() {
       thanks.style.opacity = 0;
     }, 5000);
   }
   function saveEmail(email, name, message) {
     var subject = encodeURIComponent('Message for remotemovement.com');
     var body = encodeURIComponent('Email: ' + email + '\nName: ' + name + '\n\n' + message);
     var url = 'https://screenmessage.com/blog/mail.php?domain=remotemovement.com&subject=' + subject + '&message=' + body + '&from=' + encodeURIComponent(email);
     var request = new XMLHttpRequest();
     request.open('GET', url, true);
     request.send();
     done();
   }
   form.addEventListener('submit', function(event) {
     event.preventDefault();

     // For things that are not persons
     var special = form.querySelector('input.address').value;
     if (special) return;

     var name = form.querySelector('input.name').value;
     var email = form.querySelector('input.email').value;
     var message = form.querySelector('textarea.message').value;
     if (!name || name.trim() === '') return showError('Please fill in your name');
     if (!message || message.trim() === '') return showError('Please fill in your message');
     if (!email || email.trim() === '') return showError('Please fill in your email address');
     if (email.indexOf('@') === -1 || email.indexOf('.') === -1) return showError('Please fill in a valid email address');
     saveEmail(email.trim(), name.trim(), message.trim());
   })
 </script>
